.grid-gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    margin-top: 50px;
    padding: 0px 170px;
}

.photo {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    box-shadow: rgba(255, 255, 255, .2) 0 3px 15px inset, rgba(0, 0, 0, .1) 0 3px 5px, rgba(0, 0, 0, .1) 0 10px 13px;
}

.photo:hover {
   transform: scale(1.05);
   opacity: 0.9;
}